/*------------------------------------------------------------*\
    START: L0calised screens 
    - For ONLY backgroud-images property
\*------------------------------------------------------------*/

/*---------------------------------------------------------*/
/* Section: The 4K HDR era. Now playing. */
.page-overview .section-hero .image-tv-glow .image-tv {    
    background-image: url("../../../images/apple_4k_tv/hero_tv_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .page-overview .section-hero .image-tv-glow .image-tv {
        background-image: url("../../../images/apple_4k_tv/hero_tv_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .page-overview .section-hero .image-tv-glow .image-tv {        
        background-image: url("../../../images/apple_4k_tv/hero_tv_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .page-overview .section-hero .image-tv-glow .image-tv {
        background-image: url("../../../images/apple_4k_tv/hero_tv_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-hero .image-tv-glow .image-tv {        
        background-image: url("../../../images/apple_4k_tv/hero_tv_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .page-overview .section-hero .image-tv-glow .image-tv {
        background-image: url("../../../images/apple_4k_tv/hero_tv_small_2x.jpg")
    }
}


/*---------------------------------------------------------*/
/* Section: Apps. How you watch television today. */
/* watch now */
.page-overview .section-tv-app #app-gallery-item-1 .gallery-screen {    
    background-image: url("../../../images/apple_4k_tv/tvshows_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .page-overview .section-tv-app #app-gallery-item-1 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/tvshows_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .page-overview .section-tv-app #app-gallery-item-1 .gallery-screen {        
        background-image: url("../../../images/apple_4k_tv/tvshows_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .page-overview .section-tv-app #app-gallery-item-1 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/tvshows_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-tv-app #app-gallery-item-1 .gallery-screen {        
        background-image: url("../../../images/apple_4k_tv/tvshows_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .page-overview .section-tv-app #app-gallery-item-1 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/tvshows_small_2x.jpg")
    }
}

/* SonyLIV */
.page-overview .section-tv-app #app-gallery-item-2 .gallery-screen {    
    background-image: url("../../../images/apple_4k_tv/watch_now_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .page-overview .section-tv-app #app-gallery-item-2 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/watch_now_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .page-overview .section-tv-app #app-gallery-item-2 .gallery-screen {        
        background-image: url("../../../images/apple_4k_tv/watch_now_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .page-overview .section-tv-app #app-gallery-item-2 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/watch_now_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-tv-app #app-gallery-item-2 .gallery-screen {        
        background-image: url("../../../images/apple_4k_tv/watch_now_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .page-overview .section-tv-app #app-gallery-item-2 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/watch_now_small_2x.jpg")
    }
}

/* Hotstar */
.page-overview .section-tv-app #app-gallery-item-3 .gallery-screen {    
    background-image: url("../../../images/apple_4k_tv/library_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .page-overview .section-tv-app #app-gallery-item-3 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/library_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .page-overview .section-tv-app #app-gallery-item-3 .gallery-screen {        
        background-image: url("../../../images/apple_4k_tv/library_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .page-overview .section-tv-app #app-gallery-item-3 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/library_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-tv-app #app-gallery-item-3 .gallery-screen {        
        background-image: url("../../../images/apple_4k_tv/library_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .page-overview .section-tv-app #app-gallery-item-3 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/library_small_2x.jpg")
    }
}

/* AltBalaji */
.page-overview .section-tv-app #app-gallery-item-4 .gallery-screen {    
    background-image: url("../../../images/apple_4k_tv/store_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .page-overview .section-tv-app #app-gallery-item-4 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/store_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .page-overview .section-tv-app #app-gallery-item-4 .gallery-screen {        
        background-image: url("../../../images/apple_4k_tv/store_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .page-overview .section-tv-app #app-gallery-item-4 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/store_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-tv-app #app-gallery-item-4 .gallery-screen {        
        background-image: url("../../../images/apple_4k_tv/store_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .page-overview .section-tv-app #app-gallery-item-4 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/store_small_2x.jpg")
    }
}

/*---------------------------------------------------------*/
/* Section: River */

/* top */
.page-overview .section-tv-app .content-grid .image-river.top:before,.page-overview .section-tv-app .content-grid .image-river.top:after {    
    background-image: url("../../../images/apple_4k_tv/river_top_large.jpg");    
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .page-overview .section-tv-app .content-grid .image-river.top:before,.page-overview .section-tv-app .content-grid .image-river.top:after {
        background-image: url("../../../images/apple_4k_tv/river_top_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .page-overview .section-tv-app .content-grid .image-river.top:before,.page-overview .section-tv-app .content-grid .image-river.top:after {        
        background-image: url("../../../images/apple_4k_tv/river_top_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .page-overview .section-tv-app .content-grid .image-river.top:before,.page-overview .section-tv-app .content-grid .image-river.top:after {
        background-image: url("../../../images/apple_4k_tv/river_top_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-tv-app .content-grid .image-river.top:before,.page-overview .section-tv-app .content-grid .image-river.top:after {        
        background-image: url("../../../images/apple_4k_tv/river_top_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .page-overview .section-tv-app .content-grid .image-river.top:before,.page-overview .section-tv-app .content-grid .image-river.top:after {
        background-image: url("../../../images/apple_4k_tv/river_top_small_2x.jpg")
    }
}

/* middle */
.page-overview .section-tv-app .content-grid .image-river.middle:before,.page-overview .section-tv-app .content-grid .image-river.middle:after {    
    background-image: url("../../../images/apple_4k_tv/river_middle_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .page-overview .section-tv-app .content-grid .image-river.middle:before,.page-overview .section-tv-app .content-grid .image-river.middle:after {
        background-image: url("../../../images/apple_4k_tv/river_middle_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .page-overview .section-tv-app .content-grid .image-river.middle:before,.page-overview .section-tv-app .content-grid .image-river.middle:after {        
        background-image: url("../../../images/apple_4k_tv/river_middle_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .page-overview .section-tv-app .content-grid .image-river.middle:before,.page-overview .section-tv-app .content-grid .image-river.middle:after {
        background-image: url("../../../images/apple_4k_tv/river_middle_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-tv-app .content-grid .image-river.middle:before,.page-overview .section-tv-app .content-grid .image-river.middle:after {        
        background-image: url("../../../images/apple_4k_tv/river_middle_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .page-overview .section-tv-app .content-grid .image-river.middle:before,.page-overview .section-tv-app .content-grid .image-river.middle:after {
        background-image: url("../../../images/apple_4k_tv/river_middle_small_2x.jpg")
    }
}

/* bottom */
.page-overview .section-tv-app .content-grid .image-river.bottom:before,.page-overview .section-tv-app .content-grid .image-river.bottom:after {    
    background-image: url("../../../images/apple_4k_tv/river_bottom_large.jpg");    
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .page-overview .section-tv-app .content-grid .image-river.bottom:before,.page-overview .section-tv-app .content-grid .image-river.bottom:after {
        background-image: url("../../../images/apple_4k_tv/river_bottom_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .page-overview .section-tv-app .content-grid .image-river.bottom:before,.page-overview .section-tv-app .content-grid .image-river.bottom:after {        
        background-image: url("../../../images/apple_4k_tv/river_bottom_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .page-overview .section-tv-app .content-grid .image-river.bottom:before,.page-overview .section-tv-app .content-grid .image-river.bottom:after {
        background-image: url("../../../images/apple_4k_tv/river_bottom_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-tv-app .content-grid .image-river.bottom:before,.page-overview .section-tv-app .content-grid .image-river.bottom:after {        
        background-image: url("../../../images/apple_4k_tv/river_bottom_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .page-overview .section-tv-app .content-grid .image-river.bottom:before,.page-overview .section-tv-app .content-grid .image-river.bottom:after {
        background-image: url("../../../images/apple_4k_tv/river_bottom_small_2x.jpg")
    }
}


/*---------------------------------------------------------*/
/* Section: Your photos, videos and music. It’s all on TV. */

/* photos and videos */
.page-overview .section-media #media-gallery-item-1 .gallery-screen {    
    background-image: url("../../../images/apple_4k_tv/photos_videos_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .page-overview .section-media #media-gallery-item-1 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/photos_videos_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .page-overview .section-media #media-gallery-item-1 .gallery-screen {        
        background-image: url("../../../images/apple_4k_tv/photos_videos_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .page-overview .section-media #media-gallery-item-1 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/photos_videos_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-media #media-gallery-item-1 .gallery-screen {        
        background-image: url("../../../images/apple_4k_tv/photos_videos_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .page-overview .section-media #media-gallery-item-1 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/photos_videos_small_2x.jpg")
    }
}

/* music */
.page-overview .section-media #media-gallery-item-2 .gallery-screen {    
    background-image: url("../../../images/apple_4k_tv/music_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .page-overview .section-media #media-gallery-item-2 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/music_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .page-overview .section-media #media-gallery-item-2 .gallery-screen {        
        background-image: url("../../../images/apple_4k_tv/music_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .page-overview .section-media #media-gallery-item-2 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/music_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-media #media-gallery-item-2 .gallery-screen {        
        background-image: url("../../../images/apple_4k_tv/music_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .page-overview .section-media #media-gallery-item-2 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/music_small_2x.jpg")
    }
}



/*---------------------------------------------------------*/
/*Section - Control your TV with Touch*/
.page-overview .section-siri-remote .image-siri-remote {
    width: 960px;
    height: 721px;
    background-size: 960px 721px;
    background-repeat: no-repeat;
    background-image: url("../../../images/apple_4k_tv/remote_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .page-overview .section-siri-remote .image-siri-remote {
        background-image: url("../../../images/apple_4k_tv/remote_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .page-overview .section-siri-remote .image-siri-remote {
        width: 692px;
        height: 522px;
        background-size: 692px 522px;
        background-repeat: no-repeat;
        background-image: url("../../../images/apple_4k_tv/remote_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .page-overview .section-siri-remote .image-siri-remote {
        background-image: url("../../../images/apple_4k_tv/remote_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-siri-remote .image-siri-remote {
        width: 122px;
        height: 398px;
        background-size: 122px 398px;
        background-repeat: no-repeat;
        background-image: url("../../../images/apple_4k_tv/apple_tv_remote_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .page-overview .section-siri-remote .image-siri-remote {
        background-image: url("../../../images/apple_4k_tv/apple_tv_remote_small_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-siri-remote .image-siri-remote {
        margin-left: auto;
        margin-right: auto
    }
}


/*------------------------------------------------------------*\
    END: L0calised screens  
\*------------------------------------------------------------*/

/*------------------------------------------------------------*\
    START: L0cal fixes  
    - For any fixes, customization, geo-atl, or
    screens that have more than only 
    background-images property
\*------------------------------------------------------------*/

/*START: Share banned customized build */
.page-overview .section-tiles .tile { width: 100%; }
.page-overview .section-tiles .tile-left { margin-left: auto; }
.page-overview .section-tiles .customized-share-field { margin-top: 120px; }

@media only screen and (max-width: 1068px)
{
	.page-overview .section-tiles .customized-share-field { margin-top: 0px; }
	.page-overview .section-tiles .tile { width: 510px; }
}

@media only screen and (max-width: 735px)
{
	.page-overview .section-tiles .tile { width: 100%; }
}

/*END: Share banned customized build */

/* Add new screen */
/* Eros Now */
.page-overview .section-tv-app #app-gallery-item-5 .gallery-screen {
    width: 960px;
    height: 540px;
    background-size: 960px 540px;
    background-repeat: no-repeat;
    background-image: url("../../../images/apple_4k_tv/search_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .page-overview .section-tv-app #app-gallery-item-5 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/search_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .page-overview .section-tv-app #app-gallery-item-5 .gallery-screen {
        width: 692px;
        height: 388px;
        background-size: 692px 388px;
        background-repeat: no-repeat;
        background-image: url("../../../images/apple_4k_tv/search_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .page-overview .section-tv-app #app-gallery-item-5 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/search_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-tv-app #app-gallery-item-5 .gallery-screen {
        width: 276px;
        height: 154px;
        background-size: 276px 154px;
        background-repeat: no-repeat;
        background-image: url("../../../images/apple_4k_tv/search_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .page-overview .section-tv-app #app-gallery-item-5 .gallery-screen {
        background-image: url("../../../images/apple_4k_tv/search_small_2x.jpg")
    }
}

/* END new 

/*------------------------------------------------------------*\
	END: L0cal fixes
\*------------------------------------------------------------*/
