.gradient-text {
  background-image: -webkit-gradient(linear, right top, left top, from(#9ed7dd), to(#2c7cc7));
  background-image: linear-gradient(to left, #9ed7dd, #2c7cc7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media all and (-ms-high-contrast: none) {
  .gradient-text {
    background: transparent;
    color: #2c7cc7;
  }
}

section.apple-premium-resellers {
  margin-bottom: 40px;
}

@media (min-width: 1025px) {
  section.apple-premium-resellers {
    margin-bottom: 90px;
  }
}

section.apple-premium-resellers .seller-list {
  font-size: 0;
}

section.apple-premium-resellers .seller-list li {
  display: inline-block;
  width: 33.33%;
  font-size: 0;
  text-align: center;
  margin-top: 20px;
  border-left: solid 1px #ececec;
}

@media (max-width: 1024.98px) {
  section.apple-premium-resellers .seller-list li:nth-child(3n + 1) {
    border-left: none;
  }
}

@media (min-width: 1025px) {
  section.apple-premium-resellers .seller-list li {
    width: 25%;
    margin-top: 40px;
    border-left: solid 1px #ececec;
  }
  section.apple-premium-resellers .seller-list li:nth-child(4n + 1) {
    width: 24%;
    text-align: center;
    border-left: none;
  }
  section.apple-premium-resellers .seller-list li:nth-child(4n + 4) {
    width: 24%;
    text-align: center;
  }
  section.apple-premium-resellers .seller-list li:nth-child(4n + 2), section.apple-premium-resellers .seller-list li:nth-child(4n + 3) {
    width: 24%;
  }
}

section.apple-premium-resellers .seller-list li img {
  max-width: 80%;
  max-height: 200px;
}

.banner_bts {
  width: 100%;
  margin-bottom: 90px;
}

.banner_bts img {
  width: 100%;
}

.bts_table {
  margin-bottom: 65px;
}

.bts_table table {
  width: 100%;
}

.bts_table table tr td {
  border: 1px solid #000;
  padding: 20px;
  font-size: 0.9rem;
  font-weight: 300;
}

.bts_tc ol {
  padding: 0 20px;
}

.bts_tc ol li {
  padding: 0 2%;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 8px;
}

.seller-list li {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.seller-list li .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.seller-list li:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.seller-list li:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.fadeIn-bottom {
  top: 80%;
}
.bts_table table tr td {
  padding: 20px 15px !important;
  line-height: 1.4 !important;
}

.banner_bts {
  margin-bottom: 20px;
}

section .box {
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
}

.discription h4 {
  text-align: center;
  padding: 20px;
  line-height: 1.5;
  padding-bottom: 15px;
  font-family: "SF UI Display", sans-serif;
  font-size: 17px;
}

.pink {
  background-color: #e9bfde;
}

.green {
  background-color: #d2e1b4;
}

.blue {
  background-color: #d8f1ff;
}

.bannericons img {
  padding: 42px 15px;
}

.discription {
  margin-top: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 5px 20px 20px 20px;
  min-height: 240px;
  font-family: "SF UI Display", sans-serif;
}

.bannericons {
  background-color: #f5f5f7;
  margin-bottom: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-family: "SF UI Display", sans-serif;
}

.learn-more a{
  font-family: "SF UI Display", sans-serif;
  text-align: center;
  /* border: 1px solid #000000; */
  padding: 5px;
  /* width: 58%; */
  margin: 0 auto;
  display: table;
  /* border-top: 2px solid #000000; */
  /* border-radius: 7px; */
  color: #0056ff;
}
.learn-more a:hover{
  border-bottom: 2px solid #0056ff;
}

section .heading-container {
  padding: 0 4px;
}

.heading h2 {
  text-align: center;
  /* padding: 56px; */
  font-weight: bold;
  color: #4979b7;
  padding: 30px;
}


.First-three-box {
  margin-top: 20px;
  margin-bottom: 80px;
}

.animation-section {
  margin-bottom: 80px;
}

.bts_tc {
  margin-top: 6%;
  margin-bottom: 55px;
}

.heading-2 {
  padding-bottom: 20px;
}

.animation-row {
  background-color: #f5f5f7;
  border-radius: 12px;
  margin: 70px 0px;
  min-height: 285px;
}

.center {
  /* padding: 100px 0px; */
  text-align: center;
  line-height: 1.6;
  font-size: 20px;
  font-family: "SF UI Display", sans-serif;
}

.animation-row .animation-img img {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.btswrapper table{
  font-family: "SF UI Display", sans-serif;
  margin: 0 auto;
  /* padding: 20px; */
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  line-height: 1.5;
}
.btswrapper tr{
border: 1px solid #877f7f;
}
.btswrapper td{
border: 1px solid #877f7f;
padding: 22px 30px;
background-color: #ffffff;
color: #542f2f;
}


.btswrapper tr:first-child td:first-child{
border-top-left-radius: 10px;
}

.btswrapper tr:last-child td:first-child{
border-bottom-left-radius: 10px;
}

.btswrapper tr:first-child td:last-child{
border-top-right-radius: 10px;
}

.btswrapper tr:last-child td:last-child{
border-bottom-right-radius: 10px;
}
@media only screen and (max-width: 767px){
.modal-dialog {
  max-width: 100% !important;
}
.bannericons img {
  padding: 25px 15px;
}
.animation-row .animation-img img{
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.discription{
  min-height: 220px;
}
.heading h2 {
  padding:0;
  padding-bottom: 7px;
  padding-top: 25px;
  font-size: 26px;
}
.discription h4{
  font-size: 19px;
  padding-top:15px;
}
.learn-more a{
  font-size: 19px;
}
.btswrapper td{
  padding: 19px 6px;
  font-size: 12px;

}
.center {
  padding: 45px 15px;
  font-size: 15px;
  line-height: 1.5;
  min-height: 165px;
}
.numberIcon{
 margin-bottom: 45px;
}
.First-three-box {
 margin-bottom: 0px;}
 .animation-row{
  margin: 45px 0px;
 }
}


.box-wrapper{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 13px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .animation-row .animation-img img{
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
  .center p {
 line-height: 1.5;
  font-size: 14px;
  padding-right: 20px;}
  .animation-row{
    min-height: 182px;
  }
  .learn-more a{
   margin:0 auto;
  }
  .discription{
    min-height: 225px;
  }
  .discription h4{
    min-height: 120px;
    padding: 20px 10px;
  }
 }
 .animation-row .center img{
  display: block;
  margin: 0 auto;
  max-width: 170px;
  /* margin: 0px 10px; */
  margin-bottom: 10px;
 }
 
 @media only screen and (width: 1180px) {
  .animation-row .animation-img img{
    min-height: 40vh;
  }
  .animation-row .center img {
  display: block;
  margin: 0 auto;
  max-width: 170px !important;
  /* margin: 0px 10px; */
  margin-bottom: 10px;
}
 }
 .arrow {
 
border: solid #0056ff;
border-width: 0 2px 2px 0;
display: inline-block;
padding: 3px;
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}
.offer-model .modal-dialog {
  width: 97% !important;
  margin: 0 !important;
}

.offer-model .modal-dialog {
  position: absolute !important;
  top: 55% !important;
  left: 50% !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  font-family: "SFProText-Regular", sans-serif;
}
.offer-model .modal-dialog {
  max-width: 50%;
  font-family: "SFProText-Regular", sans-serif;
}
.offer-model .tab-content {
  padding: 30px 20px;
  font-family: "SFProText-Regular", sans-serif;
}
.offer-model .table.table-bordered{
  /* border-collapse: separate; */
  font-family: "SFProText-Regular", sans-serif;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-bottom: 0;
  border: none;
}
.offer-model thead {
  background-color: #47b0bb;
  border-color: #47b0bb;
  font-family: "SFProText-Regular", sans-serif;
  color: #ffffff;
}
.offer-model .table.table-bordered td{
  padding: 5px 10px !important;
  vertical-align: middle;
  font-size: 14px !important;
  line-height: 1.5 !important;
  /* width: 50%; */
}
.know-more-back-to{
  padding-top: 20px;
  font-size: 14px;
  font-weight: 600;
  text-align:center;
}
.know-more-back-to a{
  color: #007bff;
  text-decoration: underline !important;
}
/*# sourceMappingURL=bts_campaign.css.map */