.banner_tradein img {
  width: 100%;
}

.pricing_tp_bttm {
  margin: 6% 0;
}

.pricing_details h2 {
  font-size: 42px;
  font-weight: 200;
  color: #282828;
}

.pricing_details h5 {
  margin: 10px 98px 40px 0;
  font-size: 18px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #282828;
}

.top_three_box {
  margin-right: 30px;
}

.product_trade_in {
  padding: 40px 10px 0px;
}

.main-img {
  text-align: center;
}

.iphone_1_bg_grey {
  background: #fdf6f6;
}

.iphone_2_bg_grey {
  background: #f4f6f8;
}

.iphone_3_bg_grey {
  background: #f5fcf9;
}

.center_price {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 25px 0;
  border-bottom: solid 1px #979797;
}

.iphone_name {
  font-size: 28px;
  font-weight: 600;
}

.iphone_price {
  padding-top: 20px;
  font-size: 22px;
}

.product_cashback_value {
  width: 100%;
  margin: 0 auto;
}

.mr_tp_bttm {
  margin: 10% 0;
}

.casify_servify_sec {
  width: 97%;
  margin: 4% auto;
}

.offer_cashback {
  font-size: 11px;
  font-weight: 200;
  color: #666666;
  letter-spacing: 1px;
  line-height: 20px;
}

.total_value {
  text-align: right;
  font-size: 20px;
  color: #666666;
}

.mgn_rt {
  margin-right: 30px;
}

.ext_brdr {
  border: 1px solid #dddddd;
  padding: 25px 30px;
  max-width: 45%;
}

.text {
  float: left;
  width: 50%;
}

.logo_tredin {
  width: 50%;
  float: left;
  text-align: right;
}

.logo_tredin img {
  width: 118px;
}

.text span {
  font-size: 14px;
  vertical-align: sub;
  color: #333333;
}

.availabel_store {
  width: 100%;
  background: #f5f6f7;
  padding: 4% 0;
  margin-bottom: 4%;
}

.partner_box {
  border: 1px solid #dddddd;
  background: #ffffff;
}

.heading_availabel {
  margin-bottom: 35px;
}

.border_ryt_bttm {
  border-bottom: 2px solid #f4f4f4;
  border-right: 2px solid #f4f4f4;
  padding: 30px 30px;
}

.border_bttm {
  border-bottom: 2px solid #f4f4f4;
  padding: 30px 30px;
}

.partner_logo {
  margin-bottom: 25px;
}

.phone {
  margin: 14px 0;
}

.email {
  margin-bottom: 14px;
}

.phone a {
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

.email a {
  font-size: 15px;
  font-weight: 300;
  color: #333333;
}

.locate_us_button a {
  font-size: 16px;
  text-transform: uppercase;
}

.locate_us_button {
  padding: 15px 0;
}

.locate_us_button .ii-icon-arrow-right {
  vertical-align: middle;
}

.ryt_border {
  border-right: 1px solid #dddddd;
}

.three_box_offer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box_offer {
  width: 33.4%;
}

.partner_logo img {
  max-width: 100%;
}

.only_mobile {
  display: none;
}

@media (min-width: 750px) and (max-width: 1024px) {
  .email a {
    font-size: 11px;
  }
  .border_ryt_bttm {
    height: 256px;
  }
  .border_bttm {
    height: 256px;
  }
}

@media (max-width: 750px) {
  .offer_cashback {
    width: 50%;
    font-size: 15px;
  }
  .total_value {
    width: 50%;
  }
  .ext_brdr {
    max-width: 100%;
    margin-bottom: 4%;
  }
  .mgn_rt {
    margin-right: 0;
  }
  .pricing_details h2 {
    font-size: 30px;
    padding: 2% 0px;
    line-height: 40px;
  }
  .three_box_offer {
    display: inherit;
  }
  .box_offer {
    width: 90%;
    margin: 0 auto;
  }
  .casify_servify_sec {
    width: 90%;
  }
  .border_ryt_bttm {
    border-right: none;
  }
  .box_offer {
    display: none;
  }
  .partner_box .three_box_offer:first-child .box_offer {
    display: block !important;
  }
  .mob_wth {
    width: 45%;
    margin: 10% auto;
  }
  .only_mobile {
    display: block;
  }
  .heading_availabel {
    margin-bottom: 15px;
  }
  .phone a {
    font-size: 14px;
  }
  .email a {
    font-size: 14px;
  }
  .pricing_details h5 {
    margin: 10px 10px 40px 0;
  }
  .heading_availabel h2 {
    padding: 6% 0;
  }
}

@media (max-width: 420px) {
  .top_three_box {
    margin-right: 5px;
  }
}
/*# sourceMappingURL=trade_in.css.map */