    .flL {
        float: left;
    }
    
    .compare-copy {
        padding: 5% 0;
    }
    
    .flR {
        float: right;
    }
    
    .tac {
        text-align: center;
    }
    
    .width100 {
        width: 100%;
    }
    
    .width70 {
        width: 71%;
    }
    
    .width50 {
        width: 50%;
    }
    
    .bgGray {
        background: #fbfbfd;
        padding: 3em 0px;
    }
    
    .marginBtm2em {
        margin-bottom: 2em;
        display: inline-block;
    }
    
    .marginBtm4em {
        margin-bottom: 4em;
        display: inline-block;
    }
    
    .borderGrayTop {
        border-top: 1px solid #d2d2d7;
        padding-top: .5em;
    }
    
    .marginBtm3 {
        margin-bottom: 2.5em !important;
    }
    
    .marginBtm5 {
        margin-bottom: 5em !important;
    }
    
    .paddingTB {
        padding: 2em 0px;
    }
    
    .button {
        height: 2em;
        border-radius: 50%;
        line-height: 2em;
        padding: 0px 1em;
        display: inline-block;
    }
    
    .borderGray {
        border-bottom: 1px solid #d2d2d7;
        padding-bottom: .5em;
    }
    
    .wrapper {
        padding: 1% 0px;
    }
    
    .wrapperInner {
        width: 70%;
        margin: 0 auto;
    }
    
    .headingTop {
        width: 100%;
        margin-bottom: 2em;
    }
    
    .twocol1 {
        margin: 0px;
        color: #000;
    }
    
    .twocol1 .column1 {
        width: 50%;
        float: left;
    }
    
    .twocol1 .column1Inner {
        width: 94%;
        margin-bottom: 5em;
    }
    
    .twocol1 .headTop {
        border-bottom: 1px solid #d2d2d7;
        padding-bottom: 2.5em;
        margin-bottom: 5em;
    }
    
    .topLogo {
        width: 70%
    }
    
    .buynowBtn {
        width: 24%;
        display: none;
    }
    
    .headmain2 {
        border-bottom: 1px solid #d2d2d7;
        padding-bottom: 2em;
        margin-top: 2.5em;
        margin-bottom: 3.5em;
    }
    
    .width15 {
        width: 18%;
    }
    
    .twocol1 h3 {
        font-size: 1.1em;
        font-weight: 700;
        margin-bottom: 2em;
        line-height: 1.7em;
    }
    
    .twocol1 h3 span {
        font-weight: 400;
    }
    
    .twocol1 h4 {
        font-size: 1.181vw;
        font-weight: 400;
    }
    
    .twocol1 h3.marginBtmL {
        margin-bottom: .2em;
    }
    
    .feat_icons {
        width: 11%;
        min-height: 1px;
    }
    
    .feat_icons img {
        width: 100%;
    }
    
    .feat_text {
        width: 88%;
        font-size: 1.181vw;
        font-weight: 700;
        padding-top: .5em;
    }
    
    .textSmall {
        font-size: 1.181vw;
        font-weight: 400;
        line-height: 1.4em;
    }
    
    .textBold {
        font-weight: 700;
    }
    
    .fourCol {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 5em;
    }
    
    .fourCol .column1 {
        width: calc(100%/4);
        float: left;
    }
    
    .bgGray1 {
        /*background:url(../images/bg.jpg) repeat-x 0px 0px;*/
    }
    
    .width30 {
        width: 35%;
    }
    
    .threeclm .column1 {
        width: 33%;
    }
    
    .s_hero {
        max-width: 60%;
    }
    
    .latest_watch h4 {
        color: #000000;
        font-size: 1.5vw;
        font-weight: bold;
    }
    
    .watch_bttm_txt p {
        color: #86878c;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    
    .threeclm .latest_watch {
        border-bottom: 1px solid #000;
        padding-bottom: 1em;
        margin-bottom: 5em;
    }
    
    .fl_l {
        float: left;
    }
    
    .fl_R {
        float: right;
    }
    
    .sec1 h5 {
        font-size: 1.2vw;
    }
    
    .fl_R h5 {
        color: #ee5558;
    }
    
    .mrgn_bttm {
        margin-bottom: 0%;
    }
    
    .watch_img {
        display: block;
        text-align: center;
        padding-bottom: 5%;
    }
    
    .text_center p {
        color: #86878c;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    
    .watch_heading_series {
        border: none;
        padding: 0;
    }
    
    .watch_heading_series h1 {
        font-size: 2.8vw;
        font-weight: bold;
    }
    
    .brdr_tp {
        padding-top: 12%;
        border-top: 1px solid #000;
    }
    
    .w_30 {
        width: 30%;
    }
    
    .grey_bckgrd {
        background: #fbfbfd;
    }
    
    .w_70 {
        width: 70%;
        margin: 0 auto;
    }
    
    .features {
        font-size: 3.5vw;
        margin-bottom: 10%;
    }
    
    .fnt_clr {
        margin-top: 5%;
    }
    
    .fnt_clr p {
        text-align: left;
    }
    
    .w_50 {
        width: 50%;
    }
    
    .mrg_top_top {
        margin-top: 0%;
    }
    
    .mgn_top_center {
        margin-top: 0%;
    }
    
    .mgn_top_last {
        margin-top: 0%;
    }
    
    .mgn_top_material {
        margin-top: 0%;
    }
    
    .txt_cntr p {
        text-align: center;
    }
    
    .w_100 {
        width: 100%;
    }
    
    .mgn_top_center_health {
        margin-top: 0%;
    }
    
    .mgn_top_health {
        margin-top: 0%;
    }
    
    .mgn_top_safety {
        margin-top: 0%;
    }
    
    .brdr_bttm {
        border-bottom: 1px solid #000;
        margin-top: 6%;
    }
    
    .brdr_bttm h3 {
        font-weight: bold;
        font-size: 1.5vw;
    }
    
    .pd_zero {
        padding: 0;
    }
    
    .pd_top {
        padding-top: 50%;
    }
    
    .pd_top_gymkit {
        padding-top: 65%;
    }
    
    .img .w_50 {
        width: 50%;
    }
    
    .grey_bckgrd_t_and_c {
        background: #f2f2f2;
    }
    
    ol li {
        list-style: decimal;
    }
    
    .tandc_mg_tp ol li {
        font-size: 0.833vw;
    }
    
    .mgn_top_safet_new {
        margin-top: 13%;
    }
    
    .top_para_pd_bttm p {
        padding-bottom: 25px;
    }
    
    .box_ht {
        height: 215px;
    }
    
    .box_ht_safety {
        height: 250px;
    }
    
    @media (max-width: 750px) {
        .wrapper {
            padding: 1em 0px;
        }
        .wrapperInner {
            width: 87%;
        }
        .headingTop {
            width: 100%;
            margin-bottom: 1em;
        }
        .latest_watch h4 {
            font-size: 3.5vw;
        }
        .threeclm .latest_watch {
            margin-bottom: 2em;
        }
        .top_para_pd_bttm p {
            padding-bottom: 2px;
        }
        .w_70 {
            width: 87%;
        }
        .width15 {
            width: 50%;
        }
        .text_center p {
            font-size: 2.9vw;
        }
        .watch_heading_series h1 {
            font-size: 6.8vw;
        }
        .box_ht {
            height: auto;
        }
        .mob_pd_bttm {
            padding-bottom: 44px;
        }
        .watch_bttm_txt p {
            font-size: 3vw;
        }
        .sec1 h5 {
            font-size: 3.8vw;
        }
        .brdr_bttm h3 {
            font-size: 5.5vw;
        }
        .s_hero {
            max-width: 75%;
        }
        .box_ht_safety {
            height: auto;
        }
        .w_100 {
            width: 100%;
        }
        .img .w_50 {
            width: 35%;
        }
        .flt_lft_mbl {
            float: left;
            width: 100%;
        }
        .flt_lft_mbl_txt {
            width: 95%;
            float: left;
        }
        .mg_top_mob {
            margin-top: 80%;
        }
    }
    
    .width30 {
        width: 35%;
    }
    
    .threeclm .column1 {
        width: 33%;
    }
    
    .s_hero {
        max-width: 60%;
    }
    
    .latest_watch h4 {
        color: #000000;
        font-size: 1.5vw;
        font-weight: bold;
    }
    
    .watch_bttm_txt p {
        color: #86878c;
        font-size: 1vw;
        font-weight: bold;
    }
    
    .threeclm .latest_watch {
        border-bottom: 1px solid #000;
        padding-bottom: 1em;
        margin-bottom: 5em;
    }
    
    .fl_l {
        float: left;
    }
    
    .fl_R {
        float: right;
    }
    
    .sec1 h5 {
        font-size: 1.2vw;
    }
    
    .fl_R h5 {
        color: #ee5558;
    }
    
    .mrgn_bttm {
        margin-bottom: 0%;
    }
    
    .watch_img {
        display: block;
        text-align: center;
        padding-bottom: 5%;
    }
    
    .text_center p {
        text-align: center;
        color: #000;
        font-size: 1vw;
        line-height: 1.8em;
    }
    
    .watch_heading_series {
        border: none;
        padding: 0;
    }
    
    .watch_heading_series h1 {
        font-size: 2.8vw;
        font-weight: bold;
    }
    
    .brdr_tp {
        padding-top: 12%;
        border-top: 1px solid #000;
    }
    
    .w_30 {
        width: 30%;
    }
    
    .grey_bckgrd {
        background: #fbfbfd;
    }
    
    .w_70 {
        width: 70%;
        margin: 0 auto;
    }
    
    .features {
        font-size: 3.5vw;
        margin-bottom: 10%;
    }
    
    .fnt_clr {
        margin-top: 5%;
    }
    
    .fnt_clr p {
        text-align: left;
    }
    
    .w_50 {
        width: 50%;
    }
    
    .mrg_top_top {
        margin-top: 0%;
    }
    
    .mgn_top_center {
        margin-top: 0%;
    }
    
    .mgn_top_last {
        margin-top: 0%;
    }
    
    .mgn_top_material {
        margin-top: 0%;
    }
    
    .txt_cntr p {
        text-align: center;
    }
    
    .w_100 {
        width: 100%;
    }
    
    .mgn_top_center_health {
        margin-top: 0%;
    }
    
    .mgn_top_health {
        margin-top: 0%;
    }
    
    .mgn_top_safety {
        margin-top: 0%;
    }
    
    .brdr_bttm {
        border-bottom: 1px solid #000;
        margin-top: 6%;
    }
    
    .brdr_bttm h3 {
        font-weight: bold;
        font-size: 1.5vw;
    }
    
    .pd_zero {
        padding: 0;
    }
    
    .pd_top {
        padding-top: 50%;
    }
    
    .pd_top_gymkit {
        padding-top: 65%;
    }
    
    .img .w_50 {
        width: 50%;
    }
    
    .grey_bckgrd_t_and_c {
        background: #f2f2f2;
    }
    
    ol li {
        list-style: decimal;
    }
    
    .tandc_mg_tp ol li {
        font-size: 0.833vw;
    }
    
    .mgn_top_safet_new {
        margin-top: 13%;
    }
    
    .top_para_pd_bttm p {
        padding-bottom: 25px;
    }
    
    .box_ht {
        height: 215px;
    }
    
    .box_ht_safety {
        height: 250px;
    }
    
    @media (max-width: 750px) {
        .wrapper {
            padding: 1em 0px;
        }
        .wrapperInner {
            width: 87%;
        }
        .headingTop {
            width: 100%;
            margin-bottom: 1em;
        }
        .latest_watch h4 {
            font-size: 3.5vw;
        }
        .threeclm .latest_watch {
            margin-bottom: 2em;
        }
        .top_para_pd_bttm p {
            padding-bottom: 2px;
        }
        .w_70 {
            width: 87%;
        }
        .width15 {
            width: 50%;
        }
        .watch_heading_series h1 {
            font-size: 1.5em;
        }
        .box_ht {
            height: auto;
        }
        .mob_pd_bttm {
            padding-bottom: 44px;
        }
        .watch_bttm_txt p {
            font-size: 3vw;
        }
        .sec1 h5 {
            font-size: 3.8vw;
        }
        .brdr_bttm h3 {
            font-size: 5.5vw;
        }
        .s_hero {
            max-width: 75%;
        }
        .box_ht_safety {
            height: auto;
        }
        .w_100 {
            width: 100%;
        }
        .img .w_50 {
            width: 35%;
        }
        .flt_lft_mbl {
            float: left;
            width: 100%;
        }
        .flt_lft_mbl_txt {
            width: 95%;
            float: left;
        }
        .mg_top_mob {
            margin-top: 80%;
        }
    }
    
    .section-legal {
        padding: 5% 0;
        .disclaimer-copy {
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            ol li {
                margin-top: 5px;
            }
        }
    }