@import 'mixins';

ul { padding: 0; margin: 0; list-style: none; }
a { text-decoration: none!important; color: inherit; }



// bootstrap
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { line-height: 1; margin-bottom: 0; }

.bg-dark {
    background-color: black!important;
    @at-root {
        section#{&} {
            padding: 40px 0;
            @include media-min(lg) { padding: 80px 0; }
        }
    }
}

.bg-light {
    background-color: #f7f7f7!important;
    @at-root {
        section#{&} {
            padding: 40px 0;
            @include media-min(lg) { padding: 80px 0; }
        }
    }
}

:focus { outline: none; }
p { margin-bottom: 0; }
label { margin-bottom: 0; }
.container, .container-lg, .container-md, .container-sm, .container-xl {
    @media (min-width: 1200px) { max-width: 1100px; }
}
.btn.btn-primary {
    border: solid 3px $theme-clr-1-light; background: transparent; color: $theme-clr-1 !important; border-radius: 30px; padding: 12px 24px; line-height: 1; text-transform: uppercase; @include gradient-bg(270deg); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 0.9rem; font-weight: 800;
    @media (min-width: 1200px) { padding: 18px 24px; }

    @media all and (-ms-high-contrast:none) { // IE
        background: transparent;
    }
}
.select2-dropdown { z-index: 5; }

.noUi-pips {
    .noUi-marker { display: none; }
    .noUi-value { font-weight: 400; font-size: 0.9rem; margin-top: 1.5px; color: #000; opacity: 0.5; }
}


.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }