.gradient-text {
  background-image: -webkit-gradient(linear, right top, left top, from(#9ed7dd), to(#2c7cc7));
  background-image: linear-gradient(to left, #9ed7dd, #2c7cc7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media all and (-ms-high-contrast: none) {
  .gradient-text {
    background: transparent;
    color: #2c7cc7;
  }
}

#icici-credit-card-offer {
  overflow-x: hidden;
}

section.icici-credit-card-box {
  background: #ffffff;
  padding-top: 50px;
  margin-bottom: 50px;
}

section.icici-credit-card-box h2 {
  color: #231f20;
  font-size: 42px;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 20px;
}

@media (max-width: 767.98px) {
  section.icici-credit-card-box h2 {
    font-size: 36px;
    line-height: 42px;
  }
}

section.icici-credit-card-box h4 {
  color: #231f20;
  font-size: 32px;
  font-weight: 400;
  line-height: 46px;
}

@media (max-width: 767.98px) {
  section.icici-credit-card-box h4 {
    font-size: 24px;
    line-height: 35px;
  }
}

section.hero-banner-cta {
  background: #ffffff;
  text-align: center !important;
}

section.hero-banner-cta .banner-wrapper img {
  max-width: 60%;
  height: 60vh;
  margin-bottom: 30px;
}

@media (max-width: 767.98px) {
  section.hero-banner-cta .banner-wrapper img {
    margin-bottom: 40px;
    height: auto;
    max-width: 100%;
  }
}

section.hero-banner-cta .icici-logo-heading {
  margin-bottom: 100px;
}

@media (max-width: 767.98px) {
  section.hero-banner-cta .icici-logo-heading {
    margin-bottom: 60px;
  }
}

section.hero-banner-cta .icici-logo-heading h4 {
  color: #231f20;
  font-size: 35px;
  font-weight: 400;
  line-height: 46px;
}

@media (max-width: 767.98px) {
  section.hero-banner-cta .icici-logo-heading h4 {
    font-size: 30px;
    margin: 0 auto 35px;
  }
}

section.hero-banner-cta .icici-logo-heading .logo-icici img {
  max-width: 100%;
}

@media (max-width: 767.98px) {
  section.hero-banner-cta .icici-logo-heading .logo-icici img {
    max-width: 75%;
  }
}

@media (max-width: 767.98px) {
  .dex {
    display: none;
  }
}

.mob {
  display: none;
}

@media (max-width: 767.98px) {
  .mob {
    display: block;
  }
}

section.easy-install-program {
  padding: 4% 0;
  padding-bottom: 0;
  background: #fff;
}

@media (max-width: 767.98px) {
  section.easy-install-program .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

section.easy-install-program h4 {
  font-size: 35px;
  font-weight: 400;
  line-height: 46px;
}

section.easy-install-program .easy-heading {
  margin-bottom: 30px;
}

section.easy-install-program .banner-wrapper {
  margin-bottom: 50px;
}

section.easy-install-program .banner-wrapper img {
  max-width: 100%;
}

section.easy-install-program .icici-offers-iphones {
  background-color: #000;
  margin-top: 105px;
}

section.easy-install-program .icici-offers-iphones h4.heading-2 {
  color: #fff;
}

section.easy-install-program .icici-offers-iphones table {
  width: 100%;
  margin-top: 80px;
}

@media (max-width: 767.98px) {
  section.easy-install-program .icici-offers-iphones table {
    margin-top: 50px;
    display: block;
    overflow-x: auto;
  }
}

section.easy-install-program .icici-offers-iphones table tr th {
  border: 1px solid #ffffff;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  width: 10%;
}

@media (max-width: 990.98px) {
  section.easy-install-program .icici-offers-iphones table tr th {
    font-size: 12px;
  }
}

section.easy-install-program .icici-offers-iphones table tr td {
  border: 1px solid #ffffff;
  padding: 10px;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  width: 10%;
}

@media (max-width: 990.98px) {
  section.easy-install-program .icici-offers-iphones table tr td {
    font-size: 12px;
  }
}

section.tandc {
  padding: 4% 0;
  background: #e2e2e2;
}

section.tandc .offer-tandc h5 {
  color: #231f20;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

section.tandc .offer-tandc ul {
  list-style: disc;
  padding: 20px 26px;
}

section.tandc .offer-tandc ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=icici-credit-card.css.map */